.appreview1 p{
  margin: 1em 2em 0 3em;
  font-size: 1.5em; 
  text-align: center;
}
.appreview2 p{
  margin: 20em 5em 0 0;
  font-size: 1.5em;

}
.pic1 img{
  height: 54em;
  margin-top: 1em;
}

.greeting{
    text-align: center;
    
}

.info{
    text-align: center;
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
    background-image: url('https://th.bing.com/th/id/OIP.xIAJKgAT2xoG3ZxHx3ttUAHaNK?pid=ImgDet&rs=1');
}

.describe3 p{
  text-align: center;
  margin: 8em 2em 8em 2em;
  font-size: 1.5em;
 
 
}
.describe4 p{
  text-align: center; 
  margin: 8em 2em 8em 2em;
  font-size: 1.5em;
 
 
}

.describe5 p{
  text-align: center; 
  margin: 10em 2em 8em 2em;
  font-size: 1.5em;
 
  
}
.detail{
     
    margin-top: 50%;
}

.detail h3{
    font-weight: bolder;    
}


.detail p{
    text-align: center;
    margin: 1em 2em 8em 2em;
    font-size: 1.5em;
 

}


.describe h1{
  text-align: center;
 margin-top: 10em;
 color: rgb(89, 160, 182);

}
.describe p{
 
  text-align: center;
  margin: 1em 2em 8em 2em;
  font-size: 1.3em;
  
  
}


.describe2 h1{
  text-align: center;
 margin-top: 10em;
 color: rgb(89, 160, 182);
}
.describe2 p{
 
  text-align: center;
  margin: 1em 2em 8em 2em;
  font-size: 1.3em;
 
}

.wrapper a{
  display: block;
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .60s;
}

.wrapper a span{
  position: relative;
  z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom, #115aa3ad 48%, #0798ec 82%);
  transition: all .65s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}
.acti h1{
  text-align: center; 
  color:#c78c54;
   font-size: 3em;
}

@media only screen and (max-width: 480px) {
  .first img{
    width: 50%;
    height:10em;
  }
  .second img{
    width: 50%;
    height:10em;
  }

  .third img{
    width: 50%;
    height:10em;
  }
  img {
    width: 100%;
    height: 50%;
  }
  .describe3 p{
    text-align: center;
    margin: 3em 2em 2em 1em;
    font-size: 0.6em;
    
  }
  .describe4 p{
    text-align: center;
    margin: 5em 1em 5em 2em;
    font-size: 0.6em;
  
  }
  .describe5 p{
    text-align: center;
    margin: 5em 1em 0 1em;
    font-size: 0.6em;
  
  }
  .detail{
       
      margin-top: 50%;
  }
  
  .detail h1{
      
      font-size: 1em;
  }
  
  
  .detail p{
      text-align: center;
      margin: 1em 2em 8em 2em;
      font-size: 0.5em;
     
  }
  
  .acti h1{
    text-align: center; 
    color:#c78c54;
     font-size: 2em;
  }
  
  .describe h1{
    text-align: center;
   margin-top: 1em;
   font-size: 1.3em;
  }
  .describe p{
   
    text-align: center;
    margin: 1em 2em 0 2em;
    font-size: 0.8em;
    
  }
  
  
  .describe2 h1{
    text-align: center;
   margin-top: 1em;
   font-size: 1.3em;
  }
  .describe2 p{
   
    text-align: center;
    margin: 1em 2em 0 2em;
    font-size: 0.8em;
  }
  
}




