
.greeting{
    text-align: center;
}

.info{
    text-align: center;
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
    background-image: url('https://th.bing.com/th/id/OIP.xIAJKgAT2xoG3ZxHx3ttUAHaNK?pid=ImgDet&rs=1');
}

.detail{
     
    margin-top: 50%;
}

.detail h3{
    font-weight: bolder;    
}


.detail p{
    text-align: center;
    margin: 1em 2em 8em 2em;
    font-size: 1.3em;
}


.describe h1{
  text-align: center;
 margin-top: 2.2em;
}
.describe p{
  text-align: center;
  margin: 1em 2em 8em 2em;
  font-size: 1em;
  
}


.describe2 h1{
  text-align: center;
 margin-top: 2.2em;
}
.describe2 p{
  text-align: center;
  margin: 1em 2em 8em 2em;
  font-size: 1em;
  
}

.wrapper a{
  display: block;
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.wrapper a span{
  position: relative;
  z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom, #66ccff 48%, #ccccff 82%);
  transition: all .60s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:after{
  width: 100%;
}